<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>Sistema de Gestão de Cripto</title>
<th:block th:include="fragments/geral.html :: headerfiles"> </th:block>    
</head>
<body>
	<header th:insert="fragments/geral.html :: header"> </header>

	<div class="container my-2">
		<h2>Ativo</h2>
		<form action="#" th:action="@{/carteira/criptomoedas/salvar}" th:object="${cripto}" method="POST">
			<input type="hidden" id="id" th:field="*{id}">
			
			<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="text-danger"></span>
			<input type="text" th:field="*{nome}" placeholder="Nome" class="form-control mb-4 col-4">

			<input type="date" th:field="*{dataDaCompra}" placeholder="Data" class="form-control mb-4 col-4">

      		<input type="number" th:field="*{precoDaCompra}" placeholder="Preço da compra" class="form-control mb-4 col-4" min="0.01" step="0.01">
      		
      		<input type="number" th:field="*{quantidade}" placeholder="Quantidade" class="form-control mb-4 col-4">
			
			<button type="submit" class="btn btn-info col-2">Salvar</button>
		</form>
		<hr>
		<a th:href="@{/carteira/criptomoedas/}">Retornar para a lista de Criptomoedas</a>
	</div>
</body>
</html>