<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>Cripwallet</title>
<!--/*/ <th:block th:include="fragments/geral.html :: headerfiles">
        </th:block> /*/-->
<link th:href="@{/css/home.css}" rel="stylesheet" />
</head>
<body>
	<header th:insert="fragments/geral.html :: header"> </header>
	<div class="container my-2">
		<h2>Seja Bem vindo!</h2>
		<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
			<div class="col">
				<div class="card mb-4 shadow-sm">
					<div class="card-header">
						<h4 class="my-0 fw-normal">Carteira</h4>
					</div>
					<div class="card-body">
						<ul class="list-unstyled mt-3 mb-4">
							<li>Seus Ativos</li>
						</ul>
						<a class="w-100 btn btn-lg btn-primary" th:href="@{/carteira/criptomoedas/}">Acessar</a>
					</div>
				</div>
			</div>
			<div class="col">
				<canvas id="line-chart" width="800" height="450"></canvas>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
				<script>
					new Chart(document.getElementById("line-chart"), {
						type: 'line',
						data: {
							labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
							datasets: [{
								data: [86,114,106,106,107,111,133,221,783,2478],
								label: "Valor da carteira",
								borderColor: "#3e95cd",
								fill: false
							}]
						},
						options: {
							title: {
								display: true,
								text: 'World population per region (in millions)'
							}
						}
					});
				</script>
			</div>
			<div sec:authorize="hasAuthority('ADMIN')">
				<div class="col">
					<div class="card mb-4 shadow-sm">
						<div class="card-header">
							<h4 class="my-0 fw-normal">Administrativo</h4>
						</div>
						<div class="card-body">
							<ul class="list-unstyled mt-3 mb-4">
								<li>Controle de Usuários</li>
								<li>Administração do Sistema</li>
							</ul>
							<a class="w-100 btn btn-lg btn-primary" th:href="@{/adm/usuarios}">Acessar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>