<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Login</title>
<th:block th:include="fragments/geral.html :: headerfiles"></th:block>
<link th:href="@{/css/login.css}" rel="stylesheet" />
</head>

<body class="text-center">
	<!-- Section: Design Block -->
	<section class="background-radial-gradient overflow-hidden">
		<div
			class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
			<div class="row gx-lg-5 align-items-center mb-5">
				<div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
					<p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
						“Eu acho que o Bitcoin é o primeiro [dinheiro criptografado] que
						tem o potencial de fazer algo como mudar o mundo.”
				</div>

				<div class="col-lg-6 mb-5 mb-lg-0 position-relative">
					<div id="radius-shape-1"
						class="position-absolute rounded-circle shadow-5-strong"></div>
					<div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

					<div class="card bg-glass">
						<div class="card-body px-4 py-5 px-md-5">
							<form class="form-signin" method="POST" th:action="@{/login}">
								<h1 class="h1 mb-3 font-weight-normal; font-family: Fantasy">CRIPWALLET</h1>
								<!-- Login input -->
								<div class="form-outline mb-4">
									<label class="form-label" for="form3Example3">Login</label> <input
										name="username" type="text" class="form-control"
										placeholder="Usuário" autofocus="autofocus"
										required="required" />
								</div>

								<!-- Password input -->
								<div class="form-outline mb-4">
									<label class="form-label" for="form3Example4">Senha</label> <input
										name="password" type="password" class="form-control"
										placeholder="Senha" required="required" />
								</div>

								<!-- Submit button -->
								<button type="submit" class="btn btn-primary btn-block mb-4">
									Sign up</button>
								<input type="hidden" name="${_csrf.parameterName}"
									value="${_csrf.token}" />
								<div th:if="${param.error}">
									<div class="alert alert-danger">Usuário ou senha
										inválidos.</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Section: Design Block -->
</body>
</html>